.slider {
    width: 100%;
}
.slider_box {
    width: 80%;
    margin: 0 auto;
    padding: 0 -1rem 8rem 0;
}

.slider_box h2 {
    font-size: 3rem;
    line-height: 0;
}

/*

.slider_box {
    width: 80%;
    margin: 0 auto;
    padding: 0 -1rem 8rem 0;
}

.slider_box h2 {
    font-size: 3rem;
    line-height: 0;
}

.slider_box_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider_box_items {
    width: 100%;
    overflow: hidden;
}

.slider_box_item {
    display: grid;
    grid-template-columns: repeat(6, 20rem);
    gap: 1rem;
    padding: 4rem 0rem;
    cursor: grab;
}

.slider_box_item::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 35em) {
    .slider_box h2 {
        font-size: 2rem;
    }

    .slider_box_item {
        overflow: auto;
        grid-template-columns: repeat(6, 95%);
        padding: 4rem 0;
    }

    .slider_box {
        width: 90%;
    }

    .slider_box_button_btn_icon {
        padding: .5rem;
    }
}
*/

/*
.box_category{
    width: 80%;
    margin: 0 auto;
}

.category{
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
}
*/
.category_box{
    line-height: 0;
    transition: all .3s ease-in;
    border-radius: 1rem;
    overflow: hidden;
    cursor: pointer;
    padding-bottom: 1rem;
    box-shadow: var(--box-shadow);
}

.category_box:hover img{
    filter: brightness(70%);
}

.category_box_img{
    border-radius: 1rem;
}

.category_box_title{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}

.category_box_title span{
    font-size: 3rem;
    margin-top: 1rem;
}

.slider_box_items {
    width: 100%;
    overflow: hidden;
}

.slider_box_item {
    display: grid;
    grid-template-columns: repeat(6, 20rem);
    gap: 1rem;
    padding: 4rem 0rem;
    cursor: grab;
}

.slider_box_item::-webkit-scrollbar {
    display: none;
}